.ParticipationForm {
    display: flex;
    flex-direction: column;
}

/* participant */

.participant__presentation__title {
    margin: 0px 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
    background: #d1d1c2;
    padding: 20px;    
}

.participant__presentation__content {
    padding: 20px;    
    margin:0;
}

.participant__wrapper {
    display: flex;
    flex-direction: column;
    background: #F05D58;
    height: auto;
}

.participant__handing {
    margin:0;
    padding: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #DDDDCD;
    background: #dc554f;
}

.participant__handing__icon {
    background: #DDDDCD;
    color: #F05D58;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 100%;
}

.participant__wrapper__form {
    padding:30px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}

.participant__input__tall {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.participant__group__inputs {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.participant__select {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 80%;
}

.participant__input__small {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.form__input {
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    border-radius: 5px;
    border: 0;
    background: #DDDDCD;
    outline:0;
}

.form__select {
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    border-radius: 5px;
    border: 0;
    background: #DDDDCD;
    outline:0;
    color: #666;
}

.pagination--firststep {
    flex-direction: column;
}

.participant__button {
    background:#363635;
    outline: 0;
    border:0;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    color: #DDDDCD;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    transition: all 0.4s;
    cursor: pointer;
}

.participant__button:disabled {
    opacity: 0.6;
    cursor:not-allowed;
}

.participant__form__message {
    color: #DDDDCD;
    font-size: 12px;
    margin:0;
    padding:30px 20px;
}

/* questions */

.question {
    display: flex;
    flex-direction: column;
}

.question__title {
    margin: 0px 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
    background: #d1d1c2;
    padding: 20px;    
    text-align: center;
}

.upload__image {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #DDDDCD;
}

.upload__image__button {
    background: #363635;
    outline: 0;
    border:0;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    color: #DDDDCD;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.form__input__file {
    display: none;
}

.preview__wrapper {
    display: none;
}

.preview__wrapper--mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #d1d1c2;
    padding:0px;
}

.preview__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 100%;
    border-radius: 5px;
    background: #d1d1c2;
    overflow: hidden;
    border: 10px solid #DDDDCD;
    padding: 20px;
}

.preview__image__content {
    width: auto;
    height: 100%;
    border-radius: 5px;
}

.choice__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.choice__input {
    display: none;
}

.choice__answer {
    cursor: pointer;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-width: 300px;
    background: #363635;
    max-height: 250px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.choice__image {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.choice__check {
    width: 40px;
    height: 40px;
    position: absolute;
    border: 5px solid #d1d1c2;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 1px #3f3f3e;
    top: 10px;
    right: 10px;
}

.choice__check__icon {
    opacity: 0;
    transition: 0.1s;
    color: #d1d1c2;
    font-size: 40px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 14px;
}

.choice__input:checked+.choice__answer .choice__check__icon {
    opacity: 1;
    transition: 0.1s;
}

.choice__title {
    position: absolute;
    width: 100%;
    bottom:0;
    margin: 0;
    border-top: 10px solid #3f3f3e;
    background: #363635;
    color: #DDDDCD;
    padding: 15px 20px;
    font-size: 18px;
    opacity: 0.8;
    border-radius: 0 0 5px 5px;
}

.choice__title__icon {
    margin-right: 10px;
}

.comment__answer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top: 0px solid #dc554f;
    background: #F05D58;
}

.comment__length {
    font-style: italic;
    text-align: right;
    margin-top: 10px;
    font-size: 18px;
    color: #DDDDCD;
    margin-bottom: 0px;
}

.textarea__answer {
    display: flex;
    flex-direction: column;
    padding:20px;
    border-radius: 5px;
    border: 0;
    background: #DDDDCD;
    border:10px solid #d1d1c2;
    height: 280px;
    box-sizing: border-box;
    outline:0;
}

.pagination--steps {
    background: #dc554f;
    flex-direction: column;
}

.buttons__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.button__steps {
    background: #363635;
    outline: 0;
    border:0;
    height: 65px;
    width: 65px;
    border-radius: 100%;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.button__steps:disabled {
    opacity: 0.6;
    cursor:not-allowed;
}

.button__steps__icon {
    color: #DDDDCD;
}

.pagination__details {
    color: #DDDDCD;
    font-weight: 700;
    text-transform: uppercase;
    margin:0;
}

.submit__button {
    background: #363635;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    border:0;
    height: 65px;
    width: 65px;
    border-radius: 100%;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

.submit__button__icon {
    color: #DDDDCD;
}

/* pagination */

.pagination {
    display: flex;
}

.step--show {
    display: flex;
    flex-direction: column;
}

.step--hide {
    display: none;
}

.required__message {
    display: flex;
    color: #DDDDCD;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #DDDDCD;
    border-radius: 5px;
}

.required__message__icon {
    margin-right: 10px;
}

.ParticipationForm__notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.notFound__icon {
    color: #d1d1c2;
    font-size: 80px;
    margin-bottom: 0;
}

/* DEVICE TABLET */

@media screen and (min-width: 768px) {
    .participant__presentation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .participant__presentation__title {
        width: 40%;
    }

    .participant__presentation__content {
        width: 60%;
    }

    .participant__wrapper__form {
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        padding:20px 10px 0 10px;
    }

    .participant__form__bloc {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 10px;
    }

    .answer__wrapper {
        display: flex;
    }

    .preview__wrapper--mobile {
        display: none;
    }

    .preview__wrapper {
        display: flex;
        border-top: 0px solid #dc554f;
        background: #F05D58;
        width: 35%;
        padding: 20px 0 20px 20px;
    }

    .preview__image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 280px;
        width: 100%;
        border-radius: 5px;
        background: #d1d1c2;
        padding: 0;
        overflow: hidden;
        border: 10px solid #DDDDCD;
    }

    .preview__image__content {
        width: auto;
        height: 100%;
    }

    .preview__icon {
        color: #DDDDCD;
    }

    .preview__icon::before {
        font-size: 120px;
    }

    .preview__text {
        color: #747474;
        padding: 0 20px;
        text-align: center;
    }

    .comment__wrapper {
        width: 65%;
    }
}

/* DEVICE DESKTOP */

@media screen and (min-width: 1024px) {
    .participant__presentation__title {
        width: 35%;
    }

    .participant__presentation__content {
        width: 65%;
    }

    .choice__answer {
        min-width: auto;
    }

    .choice__image {
        height: 100%;
        width: auto;
    }
}