.Header {
    background: #F05D58;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-top: 20px solid #dc554f;
}

.Header__logo {
    width: 100%;
    max-width: 240px;
}

.mark-ref {
    font-size: 0px;
    color: transparent;
}