/* ol is flex-container */
.tunnel {
    counter-reset: progress;
    padding-left: 0;
    display: flex;
  }
  
  /* li is flex-item and flex-container */
  .tunnel li {
    display: flex;
    align-items: center;
    list-style-type: none;
    counter-increment: progress
  }
  
  /* everyone flexible except first */
  .tunnel li+li {
    flex: 1 0 auto;
  }
  
  /* hide further steps */
  .tunnel .is-current ~ li {
    opacity: .3;
  }
  
  /* show counter numbers */
  .tunnel li::after {
    content: counter(progress);
    display: inline-block;
    box-sizing: border-box;
    width: 2em;
    height: 2em;
    line-height: 2em;
    background: hotpink;
    border-radius: 50%;
    text-align: center;
    color: #fff;		
  }
  
  /* show progress bars except for first */
  .tunnel li+li::before {
    content: "";
    flex: 1;
    display: block; /* IE10 fix */
    border-bottom: 2px solid hotpink;
  }
  .tunnel .is-current ~ li::before {
    border-bottom-style: dotted;
  }
  
  /* deco */
  * {
    box-sizing: border-box;
  }
  body {
    padding: 2em;
    font-size: 1.6em;
    font-family: helvetica, arial, sans-serif;
  }
  h1 {
      margin: 0 0 1em;
      color: #345;
      text-align: center;
    font-family: georgia, "trebuchet ms", arial, serif;
  }
 