
.WallPage__fixe {
    position: relative;
    overflow: hidden;
}

.WallPage__presentation__title {
    margin: 0px 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
    background: #d1d1c2;
    padding: 20px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.WallPage__presentation__button {
    border:0;
    outline: 0;
    background: #DDDDCD;
    padding: 10px;
    margin-left: 20px;
    display: flex;
    color: #363635;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.WallPage__presentation__button__icon {
    color: #363635;
}

.WallPage__presentation__button__icon::before {
    font-size: 38px;
}

.WallPage__presentation__button__content {
    margin:0;
    margin-top: 5px;
    font-weight: 300;
    font-size: 14px;
    color: #363635;
}

.WallPage__presentation__content {
    padding: 20px;    
    margin:0;
}

.WallPage__filter {
    background: #363635;
    display: flex;
    padding:0 20px;
    justify-content: space-between;
    flex-direction: column;
    color: #DDDDCD;
}

.WallPage__filter__button {
    margin:0;
    padding:20px 0;
    text-transform: uppercase;
    font-weight: 700;
    background: transparent;
    border:0;
    outline: none;
    display: flex;
    color: #DDDDCD;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.WallPage__filter__icon {
    margin-right: 10px;
}

.filters__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.filters__input {
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    border-radius: 5px;
    border: 0;
    background: #DDDDCD;
    outline:0;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.filters__select {
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    border-radius: 5px;
    border: 0;
    background: #DDDDCD;
    outline:0;
    color: #666;
    display: flex;
    flex-direction: column;
}

.wallpage__questions__title {
    display: none;
}

/* participation */

.participation {
    padding:20px;
    background: #DDDDCD;
}

.participation__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background: #d1d1c2;
    margin-bottom: 10px;
    border-radius: 5px;
}

.participation__wrapper:last-child {
    margin-bottom: 0;
}

/* participationInfos */

.participationInfos {
    width: 35%;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    color: #363635;
}

.participationInfos__firstname {
    font-weight: 700;
    margin:0;
}

.participationInfos__lastname {
    font-weight: 700;
    margin:0;
}

.participationInfos__age {
    margin:5px 0;
}

.participationInfos__city {
    margin:0;
}

/* participationAnswers */

.participationAnswers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 60px 60px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.wallpage__random__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(60%);
    border-radius: 5px;
}

/* GRID 3 */

.wallpage__image__1--3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.wallpage__image__2--3 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.wallpage__image__3--3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* GRID 4 */

.wallpage__image__1--4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.wallpage__image__2--4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
}

.wallpage__image__3--4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.wallpage__image__4--4 {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* GRID 5 */

.wallpage__image__1--5 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.wallpage__image__3--5 {
    grid-row-start: 2;
    grid-row-end: 4;
}

.wallpage__image__4--5 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.participationAnswers__button__wrapper {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #F05D58;
    color: #DDDDCD;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
}


.participationAnswers__button {
    border:0;
    outline: 0;
    background: #dc554f;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.participationAnswers__button__icon {
    color: #DDDDCD;
}

.participationAnswers__button__icon::before {
    font-size: 28px;
}

.participationAnswers__button__content {
    margin:0;
    margin-top: 5px;
    font-weight: 300;
    font-size: 18px;
    color: #DDDDCD;
}

.loader__wrapper__wallpage {
    height: auto;
    justify-content: center;
    display: flex;
    align-items: center;
}
/* MODAL */

.modal {
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.7);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 30px 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal--open {
    display: flex;
    flex-direction: column;
}

.modal__wrapper {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background: #DDDDCD;
    border: 20px solid #DDDDCD;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    position: relative;
}

.modal__closed__button {
    position: absolute;
    top: -1px;
    right: -2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 41px;
    padding:0px 0px 10px 10px;
    box-sizing: content-box;
    border: 0;
    outline: none;
    background: #DDDDCD;
    border-radius: 0 0 0 20px;
    cursor: pointer;
}

.modal__closed__button__icon {
    font-size: 40px;
    color: #363635;
}

.modal__question {
    font-weight: 700;
    padding: 0 20px;
    border-radius: 5px 0 5px 5px;
    background: #363635;
    color: #DDDDCD;
    padding-right: 70px;
}

.modal__participantInfos {
    display: flex;
    align-items: center;
    background: #DDDDCD;
    color: #363635;
    font-weight: 700;
    font-size: 18px;
}

.modal__participantInfos__icon {
    display: flex;
    margin-right: 10px;
    font-size: 22px;
}

.modal__image__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.modal__image {
    width: 100%;
    height: auto;
}

.modal__content__wrapper {
    display: flex;
    flex-direction: column;
    height: 45%;
}

.modal__comment {
    background: #d1d1c2;
    margin: 0;
    padding: 0px 22px 0 20px;
    border-radius: 0 0 5px -1px;
    font-size: 16px;
    word-wrap: break-word;
    height: auto;
    max-height: 70%;
    width: 100%;
    overflow: scroll;
    border-bottom: 20px solid #d1d1c2;
    border-top: 20px solid #d1d1c2;
}

.modal__pagination {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 5px;
}

.modal__pagination__button {
    color: #DDDDCD;
    width: 50px;
    height: 50px;
    padding: 0;
    background: #363635;
    border:0;
    outline: none;
    cursor: pointer;
    border-radius: 100%;
}

.modal__like__button {
    width: 40%;
    color: #DDDDCD;
    width: 100%;
    padding: 10px 0;
    background: #3f3f3f;
    border:0;
    outline: none;
    cursor: pointer;
}


.results__pagination {
    background: #d1d1c2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:20px 35px 20px 35px;
}

.button__wrapper__wallpage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button__page__next {
    background: #363635;
    outline: 0;
    border:0;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}
.button__page__prev {
    background: #363635;
    outline: 0;
    border:0;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.button__page__prev:disabled {
    opacity: 0;
}
.button__page__next:disabled {
    opacity: 0;
}

/* Submit message */
  
.Submit__message {
    background-color: #73BB45;
    text-align: center;
    margin: auto;
    padding: 2%;
}

.WallPage__notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.notFound__icon {
    color: #d1d1c2;
    font-size: 80px;
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .WallPage__presentation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .WallPage__presentation__title {
        width: 40%;
    }

    .WallPage__presentation__content {
        width: 60%;
    }

    .WallPage__filter__icon--action {
        display: none;
    }

    .filters__wrapper {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        flex: 1;
    }

    .filters__input {
        height: 50px;
        line-height: 50px;
        margin: 0px 5px;
        flex-direction: row;
        width: 33.33%;
    }

    .filters__select {
        height: 50px;
        line-height: 50px;
        margin: 0 0 0 5px;
        width: 33.33%;
    }

}

@media screen and (min-width: 1024px) { 
    .WallPage__presentation__title {
        width: 35%;
    }

    .WallPage__presentation__content {
        width: 65%;
    }   

    .wallpage__questions__title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        overflow: hidden;
        width: 100%;
        background: #d1d1c2;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .wallpage__question__space {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #363635;
        width: 120px;
        position: relative;
    }

    .wallpage__question__icon {
        color: #DDDDCD;
        font-size: 58px;
    }

    .wallpage__questions__wrapper {
        display: grid;
        grid-template-rows: auto;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    .wallpage__question {
        margin:0;
        overflow-wrap: break-word;
        background: #DDDDCD;
        color: #3f3f3f;
        border-radius: 5px;
        padding:30px 30px 20px 20px;
        font-weight: 700;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    .wallpage__question__number__wrapper {
        width: 0; 
        height: 0; 
        border-left: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-top: 40px solid #363635;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .wallpage__question__number {
        color: #DDDDCD;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 16px;
    }

    /* GRID 3 */
    .wallpage__questions__wrapper__3 {
        grid-template-columns: repeat(3, 1fr);
    }

    /* GRID 4 */
    .wallpage__questions__wrapper__4 {
        grid-template-columns: repeat(4, 1fr);
    }

    /* GRID 5 */
    .wallpage__questions__wrapper__5 {
        grid-template-columns: repeat(5, 1fr);
    }

    .participation__wrapper {
        flex-direction: row;
        justify-content: flex-start;
        overflow: hidden;
        width: 100%;
    }

    .participationInfos {
        width: 120px;
    }
    
    /* GRID 3 */

    .participationAnswers__3 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 180px;
    }

    .wallpage__image__1--3 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    .wallpage__image__2--3 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    .wallpage__image__3--3 {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    /* GRID 4 */

    .participationAnswers__4 {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 180px;
    }

    .wallpage__image__1--4 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    .wallpage__image__2--4 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    .wallpage__image__3--4 {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .wallpage__image__4--4 {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    /* GRID 5 */

    .participationAnswers__5 {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 180px;
    }

    .wallpage__image__1--5 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    .wallpage__image__2--5 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    .wallpage__image__3--5 {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .wallpage__image__4--5 {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .wallpage__image__5--5 {
        grid-column-start: 5;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .participationAnswers__button__wrapper {
        display: none;
    }
   
}